html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
  font-family: "Comic Sans MS";
  background-color: #191c1f;
}

body {
  margin-bottom: 60px;
  background-image: url("https://i.ibb.co/4YKgYxr/bg-01.jpg");
  background-size: cover;
}

footer {
  font-family: "Comic Sans MS";
  background-color: #191c1f;
  position:fixed;
  left:0px;
  bottom:0px;
  height:45px;
  width:100%;
}