@model ICollections.ViewModels.ItemViewModel
@using ICollections.Data
@using Microsoft.EntityFrameworkCore

@{
    var data = ViewBag.db as ApplicationDbContext;

    var collectionId = ViewBag.collectionId is int ? (int)ViewBag.collectionId : 0;

    var collection = data!.Collections.FirstOrDefaultAsync(r => r.CollectionId == collectionId).Result;
}

<link rel="stylesheet" title="theme" href="#">
<link rel="stylesheet" type="text/css" href="~/css/CreateCollection/CreateCollection.css"/>


<form method="post" asp-action="AddItem" enctype="multipart/form-data">
    
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" name="AuthorId" value="@collection.CollectionId" asp-for="CollectionId"/>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text lng-CollectionTitle" id="basic-addon1">Title:</span>
        </div>
        <input type="text" class="form-control" name="Title" aria-label="Title" aria-describedby="basic-addon1" asp-for="Title">
        <span asp-validation-for="Title"></span>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text lng-CollectionSmallDescription" id="basic-addon1">Description:</span>
        </div>
        <input type="text" class="form-control" name="Description" aria-label="Description" aria-describedby="basic-addon1" asp-for="Description">
        <span asp-validation-for="Description"></span>
    </div>

    <br/>

    @if (collection.AddDates == "true")
    {
        var className = "lng-" + collection.Theme + "DateItem";

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text @className" id="basic-addon1"></span>
            </div>
            <input type="text" class="form-control" name="Title" aria-label="Date" aria-describedby="basic-addon1" asp-for="Date">
        </div>

        <br/>
    }

    @if (collection.AddBrands == "true")
    {
        var className = "lng-" + collection.Theme + "BrandItem";

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text @className" id="basic-addon1"></span>
            </div>
            <input type="text" class="form-control" name="Title" aria-label="Date" aria-describedby="basic-addon1" asp-for="Brand">
        </div>

        <br/>
    }
    
    <button type="submit" class="btn btn-success lng-CreateCollectionButton" id="text">Create</button>
</form>

<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>
<script src="/js/CreateCollection.js"></script>

<script>   
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Add Item Page - ICollections' : 'Добавление предмета - ICollections';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>
