@using ICollections.Data
@using Microsoft.EntityFrameworkCore
@model ICollections.Models.User

@{
    var data = ViewBag.db as ApplicationDbContext;

    var userCollections = data!.Collections.ToListAsync().Result;
}

@functions
{

    static string GetContentPart(string content) 
    {

        const int contentPartSize = 500;

        if (content.Length <= contentPartSize) return content;
        
        content = content.Substring(0, contentPartSize);
        content += "...";

        return content;

    }

}

<div class="text-center">
    <h1 class="display-4 lng-WelcomeText" id="text">Welcome to ICollections!</h1>
</div>

@if(!User.Identity!.IsAuthenticated || Model == null)
{
    <div class="text-center">
        <h3 class="lng-TextInUnregisteredIndex" id="text"><b>Register or Login to post your own collections or write comments.</b></h3>
    </div>
}

@foreach (var collection in userCollections.OrderByDescending(n => n.CollectionId))
{
    <div class="card mb-3" style="max-width: 1400px;">
        <div class="row g-0">
            @if (collection.FileName != "")
            {
                <div class="col-md-4">
                    <img src="https://nikminerstorage.blob.core.windows.net/images/@(collection.FileName)" class="img-fluid rounded-start" alt="Collection photo">
                </div>
            }
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><a class="link" href="/Home/ViewCollection/@collection.CollectionId">@collection.Title</a></h5>
                    <p class="card-header">@collection.Theme</p>
                    <p class="card-text">@GetContentPart(collection.Description!)</p>
                    <p class="card-text">Author:</p>
                    <p class="card-text">@data!.Users.FindAsync(collection.AuthorId).Result!.NickName</p>
                    <p class="card-text text-muted">@collection.LastEditDate</p>
                </div>
            </div>
        </div>
    </div>
}

<script src="/js/ChangeLanguage.js"></script>

<script>
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Home Page - ICollections' : 'Домашняя страница - ICollections';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>