@model ICollections.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex align-items-center">
    <div class="row">
        <div class="">
            
        </div>
    </div>
</div>